body{
    background-color: #2d2d30;
}
/*-------------------------------------------NavBar*/
.navbar {
    font-family:'Luckiest Guy', cursive;
    margin-bottom: 0;
    background-color: #2d2d30;
    border: 0;
    font-size: larger !important;
    letter-spacing: 0.1em;
    opacity: 0.9;
    min-height: 80px;
}
  
.navbar li a, .navbar .navbar-brand { 
    color: #d5d5d5 !important;
  margin-top: 1px;
}
  
.navbar-nav li a:hover {
    color: #fff !important;
  
}
  
.navbar-nav li.active a {
    color: #fff !important;
    background-color: #29292c !important;
}
  
.navbar-default .navbar-toggle {
    border-color: transparent;
    
}

.navbar-collapse {
    margin-top: 27px;
}
  
.open .dropdown-toggle {
  color: #fff ;
  background-color: #555 !important;
}

.dropdown-menu li a {
  color: #000 !important;
}

h3 {
  font: 200 33px/1.3 'Luckiest Guy', cursive;
  color: #f5f5f5;
  background-color: #2d2d30;
  margin: auto;
  margin-top: 45px;
}

/* Remove border and add padding to thumbnails */
.thumbnail {
  padding: 0 0 15px 0;
  border: none;
  border-radius: 0;
  background-color: #2d2d30;
}

.thumbnail p {
  margin-top: 15px;
  color: #f5f5f5;
}

.container {
    padding: 30px 10px;
    background-color: #2d2d30;
} 
  
/* carousel*/
.carousel-inner{
    width: 100%; 
    margin: auto;
    margin-top: 80px;
}

.bg-1 {
    background: #2d2d30;
    color: #bdbdbd;
}

.row {
    margin-right: 15px;
    margin-left: 15px;
}

/*---------------------------------------Button*/
.btn {
  padding: 10px 20px;
  background-color: #333;
  color: #f1f1f1;
  border-radius: 0;
  transition: .2s;
}

/* On hover, the color of .btn will transition to white with black text */
.btn:hover, .btn:focus {
  border: 1px solid #333;
  background-color: #fff;
  color: #000;
}

/*-----------------------------------------Music*/
.music-content-container{
    padding: 90px 0px 5px 0px;
}

.music-heading{
    text-transform: uppercase;
    letter-spacing: 0.1em;
    text-align: center;
    font-family: 'Fjalla One', sans-serif;
    color: #bdbdbd;
    margin: 10px;
    padding-bottom: 10px;
}

.music-player{
    padding-bottom:4%; 
    padding-top:5%;
    width: 100%;
    margin: auto;
    border: none;
}

/*-----------------------------------------Videos*/
.embed-responsive .embed-responsive-item,
.embed-responsive embed, 
.embed-responsive iframe, 
.embed-responsive object, 
.embed-responsive video {
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    width: 99%;
    height: 90%;
    border: 0;
}

/*----------------------------------Gallery*/

.gallery_product{
    margin-bottom: 30px;
}

img {
  filter: gray; /* IE6-9 */
  -webkit-filter: grayscale(1); /* Google Chrome, Safari 6+ & Opera 15+ */
    -webkit-box-shadow: 0px 2px 6px 2px rgba(0,0,0,0.75);
    -moz-box-shadow: 0px 2px 6px 2px rgba(0,0,0,0.75);S
    box-shadow: 0px 2px 6px 2px rgba(0,0,0,0.75);
    margin-bottom:20px;
}

img:hover {
  filter: none; /* IE6-9 */
  -webkit-filter: grayscale(0); /* Google Chrome, Safari 6+ & Opera 15+ */
 
}
/*---------------------------------------Footer*/

footer{
    background-color: #2d2d30;
    margin: 0;
    padding: 5px;
    font-family: 'Abel', sans-serif;
    text-align: center;
    text-transform: uppercase;
}

h2{
  font-size: 20px;
  font-family:'Luckiest Guy', cursive;
  color: #f5f5f5;
}

/*------------------------------------ Social Links*/
    
.social-links li a i{
    width: 67px;
    height: 67px;
    padding: 28px 0px;
    border-radius: 60%;
    font-size: 30px;
    line-height: 10px;
    text-align: center;
    color: #fafafa;
    background: #000000;
     
}

.social-links li a i:hover{
    opacity: 0.6;
    transition: all 0.35s ease-in-out;
    -moz-transition: all 0.35s ease-in-out;
    -webkit-transition: all 0.35s ease-in-out;
    -o-transition: all 0.35s ease-in-out;    
}

/*---- Copyright ----*/
    
.copyright{
    padding-top: 20px;
    font-family: 'Abel', sans-serif;
    color: #bdbdbd;
}
